[submodule "third-party/openssl-cmake"]
	path = third-party/openssl-cmake
	url = https://github.com/viaduck/openssl-cmake.git
[submodule "third-party/curl"]
	path = third-party/curl
	url = https://github.com/curl/curl.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
